

* {
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0;
}
* {
  transition-property: border-color;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0;
}